
*{
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: lightgrey;
}
html, body{
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url("../images/confectionary.png");
}
main{
    margin: auto;
    margin-bottom: 70px;
    position: relative;
    width: 960px;
}
h3, h1{
    font-size: 2em;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}
h3{
    padding-bottom: 20px;
    font-size: 23px;
    text-align: center;
    border-bottom: 1px gainsboro solid;
}
h4{
    text-align: center;
    color: black;
}
h5{
    font-size: 20px;
    font-family: times new roman;
    font-weight: 100;
    letter-spacing: 1.5px;
    position: absolute; 
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
    background-color: #4aaaa5;
    float:left;
}
p{
    padding: 10px;
    line-height: 150%;
}
nav{
    margin: auto;
    width: 960px;
}
nav a{
    margin: 10px;
    padding-top: 20px;
    float:right;
       
}
footer{
    padding-bottom: 50px;
    margin: auto;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #666666;
    border-top: 8px #4aaaa5 solid;

}
a:link {
    text-decoration: none;
    color:rgb(208,208,208);
}

/* visited link */
a:visited {
    color:grey;
}

/* mouse over link */
a:hover {
    color: #4aaaa5;
}

/* selected link */
a:active {
    color: black;
}
::placeholder{
    color: lightgrey;
}
input, textarea{
    color: darkgrey;
    margin: 5px 0 15px 0;
    padding: 5px;
    width: 100%;
    border: 1px lightgrey solid;
}
textarea{
    height: 80px;
    resize: none;
}
.main-content{
    margin-top: 30px;
    padding: 15px 30px 30px 30px;
    background-color: white;
    width: 650px;
}
.contact-button{
    margin: 5px 10px;
    height: 55px;
    width: 55px;
}
.contact-button:hover{
    opacity: .5;
}
.main-header{
    padding: 10px;
    border-bottom: 2px gainsboro solid;
}
.email-button{
    padding: 5px;
    background-color: #4aaaa5;
    color: white;
    border: none;
    width: 25%;
}
.email-button:hover{
    background-color: lightgrey;
    color: #4aaaa5
}
.email-button:active{
    background-color: grey;
    color: #4aaaa5
}
.portfolio-container{
    position: relative;
    height: 200px;
    width: 262px;
    margin: 15px;
    display: inline-block;
}
.portfolio-container:hover{
    opacity:.5;
}
.portfolio-item{
    height: 200px;
    width: 262px;
    margin: auto;
    
}
#sidebar{
    padding: 0px 15px 15px 15px;
    background-color: white;
    margin: auto;
    position: absolute;
    right: 10px;
    width: 270px;
}
#nav-container{
    width: 100%;
    background-color: white;
    position: relative;
    padding: 0;
    overflow: auto;
    border-bottom: 2px lightgrey solid;
}
#nav-name{
    position: relative;
    left: 0;
    margin: 0;
    color: white;
    padding: 20px;
    background-color: #4aaaa5;
    float:left;
}
#profile-image{
    margin: 16px 10px 10px 10px;
    float: left;
    height: 200px;
    width: 300px;
}